
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  layout:decorator="layout/adminPanelHeader.html">
<div layout:fragment="admin_content" >
    <div class="card" >
        <div class="card-body">
            <h5 class="card-title" th:text="${category.name}"></h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text="#{label.catURL}+' : '+${category.logoURL}"></li>
        </ul>
    </div>
    <button  type="button" data-toggle="modal" data-target="#editModal" class="btn btn-success btn-sm mt-3" th:text="#{button.edit}" sec:authorize="hasRole('ROLE_ADMIN')"></button>
    <button  type="button" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-sm mt-3"  th:text="#{button.delete}" sec:authorize="hasRole('ROLE_ADMIN')"></button>
    <form th:action="@{'/editCategory'}" method="post" >
        <div class="modal" id="editModal" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1" th:text="#{label.editCategory}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="category_id" th:value="${category.id}">
                            <label class="col-form-label" th:text="#{label.name}+' :'"></label>
                            <input type="text" class="form-control" name="name" th:value="${category.name}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" th:text="#{label.catURL}+' :'"></label>
                            <input type="text" class="form-control" name="logo" th:value="${category.logoURL}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" th:text="#{button.save}"></button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{button.close}" ></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form th:action="@{'/deleteCategory'}" method="post">
        <div class="modal" id="deleteModal" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2" th:text="#{label.deleteCategory}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" class="form-control" name="category_id" th:value="${category.id}">
                        <p th:text="#{label.deleteModalBody}"> </p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" th:text="#{button.yes}"></button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{button.no}"></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</html>